/* Universal Styles */
html {
    min-height: 100%;
}

body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
}

/* Title */
#title {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightblue;
}
